body {
  margin: 0;
  min-width: fit-content;
  background-color: black;
}

.nav-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  min-height: 5rem;
  padding: 0 1em;
  background-color: #E68A00;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-links {
  display: flex;
  padding: 0 1em;
}

.nav-title {
  font-family: 'Press Start 2P', monospace;
  color: white;
}

.nav-link {
  color: black;
  background-color: white;
  box-shadow: -5px 5px 0 -2px #ccc;
  padding: 0.25em;
  margin: 1em;
  border: 3px solid black;
  font-family: 'Press Start 2P', monospace;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: red;
}

.nav-link:active {
  transform: translate(-5px, 5px);
  box-shadow: none;
}

.nav-link:focus {
  outline: none;
  border-color: red;
}

.floor {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
}

.floor-svg {
  width: 100%;
}

.floor-content {
  position: relative;
  display: flex;
  width: 70%;
}

h1 {
  color: white;
}

.burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  box-shadow: -5px 5px 0 -2px #ccc;
  padding: 0.5em;
  margin: 1em;
  border: 3px solid black;
}

.burger-menu:active {
  transform: translate(-5px, 5px);
  box-shadow: none;
}

@keyframes point-northeast {
  0%, 100% {
    transform: translate(0);
  }
  50% {
    transform: translate(10px, -10px);
  }
}

.arrow {
  position: absolute;
  width: 10%;
  cursor: pointer;
}

.arrow-basement {
  bottom: -20px;
  left: 0px;
}

.arrow-living-room {
  bottom: -60px;
  left: 120px;
}

.arrow-svg {
  transition: transform 0.1s;
}

.arrow-northeast:hover {
  animation: point-northeast 1s ease-in-out infinite;
}

