body {
  margin: 0;
  min-width: fit-content;
  background-color: black;
}

.enter {
  margin: 5rem 5rem;
}

.floorplan {
  max-width: 100%;
  filter: invert(100%);
  padding-top: 3em;
}

.nav-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0 1em;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-links {
  display: flex;
  padding: 0 1em;
}

.nav-title {
  font-family: 'Press Start 2P', monospace;
  color: white;
}

.nav-link {
  color: black;
  background-color: white;
  box-shadow: -5px 5px 0 -2px #ccc;
  padding: 0.25em;
  margin: 1em;
  border: 3px solid black;
  font-family: 'Press Start 2P', monospace;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: red;
}

.nav-link:active {
  transform: translate(-5px, 5px);
  box-shadow: none;
}

.nav-link:focus {
  outline: none;
  border-color: red;
}