@import 'twine.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  min-width: fit-content;
  background-color: black;
}

.nav-bar {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #E68A00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-bar.not-mobile {
  justify-content: space-around;
}

.nav-links {
  display: flex;
}

.title-link {
  margin: 1rem 0;
  width: 50%;
  text-decoration: none;
}

.title-link:active .nav-title {
  transform: translate(5px, 5px);
  text-shadow: none;  
}

.title-link.not-mobile {
  width: auto;
}

.nav-title {
  padding: 0 1rem;
  font-size: 1em;
  font-family: 'Press Start 2P', monospace;
  color: white;
  text-shadow: 5px 5px 0 #B36B00;
  transition: transform 0.05s, text-shadow 0.05s;
}

.nav-title.not-mobile {
  font-size: 2em;
}

.nav-link {
  color: black;
  background-color: white;
  box-shadow: 5px 5px 0 0 #B36B00;
  padding: 0.25em;
  margin: 1em;
  border: 3px solid black;
  font-family: 'Press Start 2P', monospace;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 0.05s;
}

.nav-link:hover {
  color: #888888;
}

.nav-link:active {
  transform: translate(5px, 5px);
  box-shadow: none;
}

.nav-link:focus {
  outline: none;
  border-color: #888888;
}

.exterior-text {
  line-height: 1.5rem;
}

.floor {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.floor-svg {
  width: 100%;
}

.floor-content {
  position: relative;
  display: flex;
  width: 70%;
} 

h1 {
  color: white;
}

.burger-menu {
  position: relative;
}

.burger-items {
  right: 0;
}

.burger-items .nav-links {
  flex-direction: column;
}

.burger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  box-shadow: 5px 5px 0 0 #B36B00;
  padding: 0.5em;
  margin: 1em;
  border: 3px solid black;
  transition: transform 0.05s
}

.burger-button:active {
  transform: translate(5px, 5px);
  box-shadow: none;
}

.burger-button:focus {
  outline: none;
}

.burger-items {
  position: absolute;
}

.arrow {
  position: absolute;
  width: 10%;
  cursor: pointer;
}

.arrow-basement {
  bottom: -3%;
  left: 0;
}

.arrow-kitchen {
  top: 25%;
  right: -1%;
}

.arrow-master-bedroom {
  top: -4%;
  left: 30%;
}

.arrow-study {
  top: 0%;
  left: 25%;
}

.arrow-svg {
  transition: transform 0.1s;
}

.arrow-svg:focus {
  stroke: #39A9DB;
}

@keyframes point-northwest {
  0%, 100% {
    transform: translate(0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

@keyframes point-northeast {
  0%, 100% {
    transform: translate(0);
  }
  50% {
    transform: translate(10px, -10px);
  }
}

@keyframes point-southeast {
  0%, 100% {
    transform: translate(0);
  }
  50% {
    transform: translate(10px, 10px);
  }
}

@keyframes point-southwest {
  0%, 100% {
    transform: translate(0);
  }
  50% {
    transform: translate(-10px, 10px);
  }
}

.arrow-northwest:hover {
  animation: point-northwest 1s ease-in-out infinite;
}

.arrow-northeast:hover {
  animation: point-northeast 1s ease-in-out infinite;
}

.arrow-southeast:hover {
  animation: point-southeast 1s ease-in-out infinite;
}

.arrow-southwest:hover {
  animation: point-southwest 1s ease-in-out infinite;
}

.svg-link:focus {
  outline: none;
}

.svg-link:focus .svg-item, .svg-link:hover .svg-item {
  stroke: #E68A00;
  stroke-width: 5px;
}

.svg-link:focus .arrow-svg {
  stroke: #39A9DB;
  stroke-width: 5px;
}

.exterior-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', monospace;
  flex-wrap: wrap;
  color: white;
}

.exterior {
  padding: 20px;
  width: 50%;
}

.exterior-text {
  padding: 20px;
  z-index: 1;
}