<div class="down-the-basement-stairs">
<tw-story></tw-story>

<tw-storydata name="down the basement stairs" startnode="1" creator="Twine" creator-version="2.3.9" ifid="F5D6F669-AC29-4236-833F-9D740FDF84BD" zoom="0.6" format="Harlowe" format-version="3.1.0" options="" hidden><style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css"></style><script role="script" id="twine-user-script" type="text/twine-javascript"></script><tw-passagedata pid="1" name="The stairs" tags="the-stairs" position="1250,75" size="100,100">The stairs creak when you walk along them. You need to find the coffee pot. You were sent down here to get it by [[Misha]] who says she needs it to make [[Irish coffee]]. Misha promises it will be good. You trust her when she tries new recipes, new drinks, new brews. Everyone does.

The joke in the friend group you&#39;ve fallen into is that she&#39;s like a [[witch]], always cooking up something. When she sent you downstairs, she pretended to cackle. &quot;Get the right pot, my pretty!&quot; Then she laughed like this was the funniest joke in the world. When Misha says it, it is.

You&#39;ve never been down in the basement, before. It&#39;s not as [[dark]] as you think it would be. There&#39;s a [[shadow]] over in the corner, and when it moves, you&#39;re relieved to see it&#39;s [[the orange cat]] Misha feeds. </tw-passagedata><tw-passagedata pid="2" name="Irish coffee" tags="" position="925,825" size="100,100">1 cup hot coffee

1 1/2 ounces Irish whiskey

Heavy or whipped cream

Brown sugar to taste

Preparation and cook time: 5 minutes

You know how to make it. You looked up the recipe online and wanted to make it to impress [[Misha]]. As usual, she steals your thunder. Sometimes, when you think about her, you want to tear her to [[pieces]]. But here you are, down [[The stairs]] in the rickety house she calls home, trying not to step on [[the orange cat]]. </tw-passagedata><tw-passagedata pid="3" name="dark" tags="dark" position="975,275" size="100,100">Black velvet sort of ripples around you. You can see the shapes of things, down here, but you can&#39;t find the light.

A [[shadow]] detaches itself from the wall and runs past you. It&#39;s probably the cat.

Except now you see the cat, etched in the light bleeding from the top of [[the stairs]]. It&#39;s sitting in front of its dish, eating. When it sees you, it looks up, regards you, and keeps eating.</tw-passagedata><tw-passagedata pid="4" name="shadow" tags="" position="900,0" size="100,100">Shh. It&#39;s quiet here. Velvet. It would be comforting if it didn&#39;t feel like a sinkhole.

Like [[Misha]]&#39;s eyes. Like a &lt;a href=&quot;https://en.wikipedia.org/wiki/Great_Molasses_Flood&quot;&gt;molasses&lt;/a&gt; sweet spell from a [[witch]]. Like every shadow or bit of shade [[the house]] has ever cast on the world has collected down here, like rain water down a drain.

This is a photo negative of reality and you are caught inside of it. You wonder if this is because of [[the orange cat]] or maybe this place sees your own shadow, [[your past]], clinging to you like the smell of ozone.</tw-passagedata><tw-passagedata pid="5" name="the orange cat" tags="the-orange-cat" position="1525,700" size="100,100">Apparently, 75% of orange cats are male. You read that somewhere.

This cat is probably a boy. He&#39;s so handsome. Like [[Misha]], he&#39;s strange. You have no idea how old he is. He&#39;s small enough that you would have assumed he&#39;s a kitten, but Misha says no. He came with [[the house]], which seems to be pretty old.</tw-passagedata><tw-passagedata pid="6" name="coffee pot" tags="" position="1550,400" size="100,100">And all at once, there it is. The metal is cold. When you touch it, you hear a scream, as if from a mouse, small and lonely. 

Now you just have to wade back through the [[dark]]. You just have to go back &lt;a href=&quot;https://catalyze.theater/house/first-floor&quot;&gt;upstairs&lt;/a&gt;.</tw-passagedata><tw-passagedata pid="7" name="Misha" tags="Misha" position="225,75" size="100,100">She&#39;s so beautiful. One of the most beautiful people you&#39;ve ever met. Not in an obvious way, either. She&#39;s tall, gangly, freckled, love pirates, hates Christmas, and never talks about her past.

That&#39;s good. It means you don&#39;t have to talk about [[your past]], either.

&quot;I&#39;m going to make you and everyone [[Irish coffee]],&quot; she said. &quot;We can stay up and be drunk. It will be fantastic.&quot;

Everyone gathered in [[the house]] roared with laughter.

&quot;I just need the coffee pot from downstairs.&quot; Then she looked at you with her brown, cow-lashed eyes. &quot;Can you get it for me?&quot;

You don&#39;t want Irish coffee. You also don&#39;t want to upset Misha. What if you&#39;re never allowed to come back to the house with her strangeness, her roommates, [[the orange cat]].

Of course Misha would never disinvited you for disobeying her. Probably.

You go down [[The stairs]].</tw-passagedata><tw-passagedata pid="8" name="pieces" tags="" position="650,925" size="100,100">You are not your sleeping bag, laid out on the backseat to cover the stab of a seatbelt. You are not the other kids in your second grade classroom asking why you never invite them over. You are not [[your past]].

You are walking through the [[dark]] and you are breathing.</tw-passagedata><tw-passagedata pid="9" name="your past" tags="" position="400,775" size="100,100">Here&#39;s the thing. You used to live in a sedan with your mom. It was a long time ago. You were eight. It was a bad year for you both.

Your toys, your Gameboy, your dog, somehow it all belonged to your dad and his new family, now. Your mom wasn&#39;t allowed a &quot;red cent,&quot; she said, but you always heard it as &quot;red scent,&quot; like the smell of stoplight color was to blame for a divorce. 

For so long, that was your [[home]]. All of your clothes were stacked in the backseat. You slept on a beach towel with an eyeless stuffed animal for a pillow.

Eventually, you turned nine-years old, your mom got a job, and you rented an apartment. These days, she has a house back home in the Midwest. She&#39;s happy.

It still follows you, though, like a terrible [[shadow]], a photo negative of everything you are now.

That car was home, but so was the earthy smell of coffee. Your mom kept a coffee pot on the dashboard that fed into the electric socket that doubled as the lighter holder.

Coffee itself is fine, but whenever you hear the words &quot;coffee pot&quot; you begin to spiral. Explaining it to [[Misha]] is going to be hard, but she saw how pale you got when she asked you to go to the basement. She probably just thinks you&#39;re afraid of the [[dark]].

But no. You&#39;re not afraid. You just need to find the [[coffee pot]].</tw-passagedata><tw-passagedata pid="10" name="the house" tags="" position="775,450" size="100,100">Maybe it&#39;s from 1900. A lot of houses in the area were built around then. 

One of the friends (acquaintances to you, you have a tough time getting close to people, it&#39;s just how you&#39;re wired) in your group says anti-suffragettes used to meet here, an &quot;education&quot; group made up of women that looked down at the idea of voting. Or, this individual said, that was another house in the Midwest. He didn&#39;t seem too sure.

Another person said this place used to belong to a lady who went mad, claiming gnomes were living in the atrium, keeping the world from falling apart.

A neighbor told [[Misha]] that a couple who lived there before broke up because one turned it into a fallout shelter. Misha, herself, says the last person who owned it was a YouTube &quot;influencer&quot; who saw ghosts.

You&#39;re in the [[dark]] to what the history of the house is, but oddly, that feels right. It seems amorphous, ever-changing. It doesn&#39;t feel like a home, just a place where people pretend to be young by drinking beer and [[Irish coffee]].

This place is not a [[home]] to you. It&#39;s a mystery.</tw-passagedata><tw-passagedata pid="11" name="witch" tags="witch shadow" position="1150,400" size="100,100">If witches really existed, you think, they wouldn&#39;t spend their time being human. They would graft shapes onto themselves. They would become new, different things.

You don&#39;t want to be human. Maybe it&#39;s [[your past]], but you prefer being other things. You would love to be someone like [[Misha]], so impossibly comfortable in her own skin.

Sometimes, you play a game where you try to see if the people around you are telepathic. You try to communicate with them without making eye contact. You scratch your nose, cluck your tongue, and play on your phone, all the while thinking the most dreadful things you can imagine, things that are slimed, naked, coiling, scummed-over, and bloody.

You wait for a [[shadow]] to pass over their face or for them to react.

It would serve them right. If they&#39;re a witch, and the most they&#39;ve thought to do with their powers is continue to look human and read people&#39;s minds, that&#39;s on them.</tw-passagedata><tw-passagedata pid="12" name="the stairs" tags="" position="1575,200" size="100,100">DON&#39;T. NO. YOU CAN&#39;T GO BACK UP.

You have to do the thing [[Misha]] asked you to do! Yes, it&#39;s [[dark]], yes, every [[shadow]] seems to be alive, and yes, you seem to be going around in circles, losing [[pieces]] of yourself as you do.

But you can&#39;t go back, now. You&#39;re no longer sure if it&#39;s your choice or [[the house]]&#39;s.</tw-passagedata><tw-passagedata pid="13" name="home" tags="" position="400,925" size="100,100">The soft belly of the stuffed animal under your face. 

Your mom&#39;s kiss on your face after you washed up in the truckstop bathroom.

The smell of coffee, even if it&#39;s [[Irish coffee]].

When you get anxious, it feels like [[pieces]] are falling off of you. If you focus on the things you love, the things that make you feel loved, though, you feel whole.</tw-passagedata></tw-storydata>
</div>