<Floor @svg="basement">
  <div class="arrow arrow-basement">
    <a class="svg-link" href="https://youtu.be/RtBvtIK9Jq0" target="_blank">
      {{svg-jar "arrow-northeast" class="arrow-svg arrow-northeast"}}
    </a>
  </div>
</Floor>

{{#if this.clipboard}}
  <Modal @onClose={{this.toBasement}}>
  </Modal>
{{/if}}