<Floor @svg="basement">
  <div class="arrow arrow-basement">
    <a class="svg-link" href="https://youtu.be/gJ8oDQeZKdM" target="_blank">
      {{svg-jar "arrow-northeast" class="arrow-svg arrow-northeast"}}
    </a>
  </div>
</Floor>