<div class="burger-menu">
  <button
    role="button"
    class="burger-button"
    {{on "click" this.toggleMenu}}
  >
    {{svg-jar "burger"}}
  </button>
  {{#if this.open}}
    <div class="burger-items">
      <div class="nav-links">
        <LinkTo class="nav-link" @route="house.basement">Basement</LinkTo>
        <LinkTo class="nav-link" @route="house.first-floor">First Floor</LinkTo>
        <LinkTo class="nav-link" @route="house.second-floor">Second Floor</LinkTo>
        <LinkTo class="nav-link" @route="house.attic">Attic</LinkTo>
      </div>
    </div>
  {{/if}}
</div>