<p>
  <br />
    October 24, 2020
  <br />
</p>

<p>
  <br />
    To the Glory of the Steal Crustacean Empire XII,
  <br />
</p>

<p>
  <br />
    In an alternate universe, I’d spend this weekend burning autumn leaves in the backyard, talking with my brood mothers on speakerphone, and shedding my carapace in the park with a sunning companion, probably Phil, and their pet ape creature, Suzie.
    But of course I’ve been stuck in my cave in Cambridge ever since the Rusting Sickness germinated on the floor of the United Claw Laboratories, with nothing but my brood mates and the riotous shrieks of our brood instead.
    I tried to pick up decal painting for the shells of my neighbors, but it’s so hard to focus on anything when the internal network inside everyone’s skulls is ape-scream junking out of control with updates and now even our Princeling Child is endorsing the Great Underground Arachnid Network conspiracy so who knows what’s real anymore.
  <br />
</p>

<p>
  <br />
    I think my cave is haunted by the voices of the cybernetic helpmates of our years in isolation.
    I hear them ape hooting every other moonrise behind the abandoned carapaces of the brood.
    I keep hearing their disturbing, fleshy finger appendages, the hard rap of their knuckles… 
  <br />
</p>

