<div class="nav-bar">
  <h1 class="nav-title">Catalyze Playhouse</h1>
  {{#if this.media.isMobile}}
    <BurgerMenu />
  {{else}}
  <div class="nav-links">
    <LinkTo class="nav-link" @route="house-demo.basement">Basement</LinkTo>
    <LinkTo class="nav-link" @route="house-demo.first-floor">First Floor</LinkTo>
    <LinkTo class="nav-link" @route="house-demo.second-floor">Second Floor</LinkTo>
    <LinkTo class="nav-link" @route="house-demo.attic">Attic</LinkTo>
  </div>
  {{/if}}
</div>