<div class="exterior-container">
  <div class="exterior-text">
    <p>catalyze's open house</p>
    <p>short science fiction theater</p>
    <p>and other diversions</p>
    <br />
    <p>7 pm saturday october 24th 2020</p>
  </div>
  <div class="exterior">
    {{svg-jar "exterior"}}
  </div>
</div>
{{outlet}}