<Floor @svg="second-floor">
  <div class="arrow arrow-bunk-bedroom">
    <a class="svg-link" href="https://en.wikipedia.org/wiki/Bunk_bed" target="_blank">
      {{svg-jar "arrow-southeast" class="arrow-svg arrow-southeast"}}
    </a>
  </div>  
  <div class="arrow arrow-master-bedroom">
    <a class="svg-link" href="https://en.wikipedia.org/wiki/Bedroom" target="_blank">
      {{svg-jar "arrow-southeast" class="arrow-svg arrow-southeast"}}
    </a>
  </div>
  <div class="arrow arrow-bathroom">
    <a class="svg-link" href="https://en.wikipedia.org/wiki/Bathroom" target="_blank">
      {{svg-jar "arrow-northwest" class="arrow-svg arrow-northwest"}}
    </a>
  </div>  
</Floor>