<Floor @svg="attic">
  <div class="arrow arrow-study">
    <a class="svg-link" href="https://en.wikipedia.org/wiki/Attic" target="_blank">
      {{svg-jar "arrow-southeast" class="arrow-svg arrow-southeast"}}
    </a>
  </div>  
</Floor>