<Floor @svg="basement">
  <div class="arrow-basement">
    <a href="https://en.wikipedia.org/wiki/Basement" target="_blank">
      {{svg-jar "arrow-northeast" class="arrow-svg"}}
    </a>  
  </div>
</Floor>