<Floor @svg="first-floor">
  <div class="arrow arrow-kitchen">
    <a class="svg-link" href="https://en.wikipedia.org/wiki/Kitchen" target="_blank">
      {{svg-jar "arrow-southwest" class="arrow-svg arrow-southwest"}}
    </a>
  </div>
</Floor>

{{#if this.begonias}}
  <PaperDialog
    @class="dialog begonia-dialog"
    @onClose={{this.toFirstFloor}}
    @parent=".floor"
    @clickOutsideToClose={{true}}
    @fullscreen={{true}}
  >
    <div class="parchment">
      <p>
        Roger acquired this cutting from a man who said he purchased it in Thailand.
        He didn't know the specific name of the plant, but it seems to be some sort of begonia- I plan on writing to some botanists who specialize in plants from the orient to see if any of them can identify it.
        For now I’ve given it a place of honor at the front of the conservatory.
        I know it's foolish, when I don’t even know what it's going to look like, but I just have this feeling about it.
        Like I know it will become something wonderful if only given the chance.
        I hope it will thrive in our climate.
      </p> 
    </div>
  </PaperDialog>
{{/if}}