<Floor @svg="first-floor">
  <div class="arrow arrow-living-room">
    <a href="https://en.wikipedia.org/wiki/Living_room" target="_blank">
      {{svg-jar "arrow-northeast" class="arrow-svg arrow-northeast"}}
    </a>
  </div>
</Floor>