<Floor @svg="first-floor">
  <div class="arrow arrow-kitchen">
    <a class="svg-link" href="https://en.wikipedia.org/wiki/Kitchen" target="_blank">
      {{svg-jar "arrow-southwest" class="arrow-svg arrow-southwest"}}
    </a>
  </div>
  <div class="arrow arrow-living-room">
    <a class="svg-link" href="https://en.wikipedia.org/wiki/Living_room" target="_blank">
      {{svg-jar "arrow-northeast" class="arrow-svg arrow-northeast"}}
    </a>
  </div>
</Floor>