<div class="exterior-container">
  <div class="exterior-text">
    <p>catalyze's open house</p>
    <p>short science fiction theater</p>
    <p>and other diversions</p>
    <br />
    <p>7 pm edt saturday october 24th 2020</p>
    <p>Q&amp;A with playwrights and actors at 8:30</p>
    <div class="zoom-link-container">
      <a class="zoom-link" href="https://mit.zoom.us/j/98437914140" target="_blank">
        Launch Zoom
      </a>
    </div>
  </div>
  <div class="exterior">
    {{svg-jar "exterior"}}
  </div>
</div>
{{outlet}}