<div class="exterior-container">
  <div class="exterior-text">
    <p>catalyze's open house</p>
    <p>short science fiction theater</p>
    <p>and other diversions</p>
  </div>
    <div class="exterior">
      <LinkTo @route="house.first-floor">
        {{svg-jar "exterior"}}
      </LinkTo>
    </div>
</div>
{{outlet}}