<Floor @svg="second-floor"> 
  <div class="arrow arrow-master-bedroom">
    <a class="svg-link" href="https://youtu.be/0ULd5vttdoY" target="_blank">
      {{svg-jar "arrow-southeast" class="arrow-svg arrow-southeast"}}
    </a>
  </div>
</Floor>